################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OllamaClient/bin/Debug/net9.0
/OllamaClient/obj
